doctype html
html 
    head
        link(rel="stylesheet" type="text/css" href="/css/game.css")
    body.main
        div.scoreZone
        div#gameZone
            img(src="../resources/normalPig.png", alt="player")#player
            img(src="../resources/strengthPig.png", alt="")#opponent
            img(src="", alt="")#ball
        div.chatZone 
    script(src="../game.js")
        